body{
	/*background-color:242120; */
	background-color:black;
	color:white;
	font-family:Cambria,serif;
}

#header{
	text-align:center;
}

a{
	text-decoration:none;
	color:blue;
}

h1 a{
	color:white;
}


a:hover{
	color:#830f3e;
}

#buttonlist a{
	color:white;
}

#buttonlist a:hover{
	color:#830f3e
}

img{
display:block;
position:relative;
border-radius:8px;
margin:auto;

}



table{
	position:relative;
	margin:auto;
	padding-top:50px;
}

#thunderposter{
	padding:50px;
/*test*/
}

td a{
	color:0707E0;
	/*color:blue;*/
}

td{
	padding:20px;
}
#main p{
	margin:0 auto
	height:100%;
	/*padding-top:100px;*/
}

#main p:nth-child(2){
	/*text-align:center*/
}

#main{
	margin: 0 auto;
	width:900px;
	/*width:50%;*/
}


#buttonlist{
	width:900px;
	position:absolute;
	bottom:0;
	height:3em;
	margin:0 auto;
	/*list-style-type:none;*/

}

/*iframe{*/
/*border: 0; */
/*width: 350px;
/*padding-left:75px;
/*height: 470px;"
position:relative;
text-align:center;
}*/

#do_the_impossible{
padding-left: 50px;
padding-right: 50px;
}

#made_in_suburbia_ep{
padding-left: 50px;
padding-right: 50px;

}

ul{
	padding:0px;
	position:relative;
	display:table;
	margin:0 auto;
}


li{

	padding:10px;
	text-align:center;
	position:relative;
	display:table-cell;
	/*width:16.7%;*/
	/*margin: 0px 25px 0px 25px;*/
}

iframe{
	border:3px;
	border-color:gray;
}

h5{
	margin: 0px
}
